@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
* {
  box-sizing: border-box;
}
.macbook-pro-1 {
  align-items: center;
  background-color: var(--black-haze);
  display: flex;
  flex-direction: column;
  height: 1991px;
  padding: 35px 0;
  width: 1920px;
}
.macbook-pro-1 .auto-flex {
  align-items: flex-start;
  display: flex;
  margin-top: 20px;
  min-width: 1290px;
}
.macbook-pro-1 .auto-flex1 {
  align-items: flex-start;
  display: flex;
  height: 488px;
  margin-top: 30px;
  min-width: 1290px;
}
.macbook-pro-1 .auto-flex2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: -1px;
  margin-top: -1px;
  min-height: 20px;
  width: 18px;
}
.macbook-pro-1 .book-list {
  letter-spacing: 0px;
  margin-left: 33px;
  min-height: 19px;
  min-width: 64px;
}
.macbook-pro-1 .frame- {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  min-height: 488px;
  width: 300px;
}
.macbook-pro-1 .frame-35 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  min-height: 128px;
  width: 260px;
}
.macbook-pro-1 .frame-40 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  min-height: 161px;
  width: 260px;
}
.macbook-pro-1 .frame-44 {
  background-color: var(--portage);
  border-radius: 5px;
  height: 32px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 96px;
}
.macbook-pro-1 .frame-44:hover {
  transform: scale(0.9);
}
.macbook-pro-1 .frame-45 {
  align-items: flex-end;
  display: flex;
  margin-top: 20px;
  min-width: 260px;
}
.macbook-pro-1 .frame-46 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 421px;
  width: 300px;
}
.macbook-pro-1 .frame-48 {
  height: 488px;
  width: 300px;
}
.macbook-pro-1 .frame-52 {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  min-height: 488px;
  width: 300px;
}
.macbook-pro-1 .frame-56 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 45px;
  width: 52px;
}
.macbook-pro-1 .frame-57 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 45px;
  min-width: 347px;
}
.macbook-pro-1 .frame-58 {
  align-items: flex-start;
  display: flex;
  height: 19px;
  min-width: 81px;
}
.macbook-pro-1 .frame-59 {
  align-items: center;
  display: flex;
  margin-bottom: 6px;
  margin-left: 445px;
  min-width: 99px;
}
.macbook-pro-1 .frame-60 {
  align-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 7px;
  margin-left: 53px;
  min-width: 265px;
}
.macbook-pro-1 .frame-62 {
  background-color: var(--portage);
  border-radius: 10px;
  height: 32px;
  margin-left: 165px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 75px;
}
.macbook-pro-1 .frame-62-1 {
  align-items: center;
  background-color: var(--portage);
  border-radius: 10px;
  display: flex;
  height: 32px;
  justify-content: flex-end;
  margin-left: 10px;
  min-width: 35px;
  padding: 0 6px;
}
.macbook-pro-1 .frame-62:hover {
  transform: scale(0.9);
}
.macbook-pro-1 .frame-63 {
  align-items: center;
  display: flex;
  height: 19px;
  min-width: 74px;
}
.macbook-pro-1 .frame-64 {
  align-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  margin-left: 3px;
  min-width: 129px;
}
.macbook-pro-1 .frame-65 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  margin-right: 315px;
  margin-top: 4px;
  min-width: 188px;
}
.macbook-pro-1 .group-130 {
  height: 27px;
  margin-bottom: 1.17px;
  margin-left: 145px;
  width: 25px;
}
.macbook-pro-1 .image-2 {
  height: 245px;
  object-fit: cover;
  width: 300px;
}
.macbook-pro-1 .isbn {
  letter-spacing: 0px;
  min-height: 16px;
  min-width: 37px;
}
.macbook-pro-1 .language {
  letter-spacing: 0px;
  min-height: 16px;
  min-width: 67px;
}
.macbook-pro-1 .library {
  letter-spacing: 0px;
  min-height: 19px;
}
.macbook-pro-1 .line-1 {
  height: 2px;
  margin-top: 25px;
  width: 50px;
}
.macbook-pro-1 .my-books {
  letter-spacing: 0px;
  margin-left: 33px;
  min-height: 19px;
  min-width: 72px;
}
.macbook-pro-1 .name {
  letter-spacing: 0px;
  min-height: 19px;
}
.macbook-pro-1 .number {
  letter-spacing: 0px;
  margin-left: 188px;
  min-height: 16px;
}
.macbook-pro-1 .number-1 {
  letter-spacing: 0px;
  margin-left: 128px;
  min-height: 16px;
}
.macbook-pro-1 .number-2 {
  letter-spacing: 0px;
  min-height: 16px;
  min-width: 56px;
}
.macbook-pro-1 .ok {
  letter-spacing: 0px;
  min-height: 16px;
  min-width: 21px;
}
.macbook-pro-1 .order {
  left: 30px;
  letter-spacing: 0.14px;
  position: absolute;
  top: 8px;
}
.macbook-pro-1 .overlap-group {
  align-items: center;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60266e2f47cec315de0a4027/releases/60266e9c96daa59979f0c6b0/img/rectangle-2@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 87px;
  min-width: 1306px;
  padding: 11px 48px;
}
.macbook-pro-1 .pashok {
  letter-spacing: 0px;
  margin-left: 9px;
  min-height: 19px;
}
.macbook-pro-1 .publisher {
  letter-spacing: 0px;
  min-height: 16px;
  min-width: 64px;
}
.macbook-pro-1 .search {
  left: 8px;
  letter-spacing: 0px;
  position: absolute;
  top: 8px;
}
.macbook-pro-1 .sort-by {
  letter-spacing: 0px;
  min-height: 19px;
  min-width: 56px;
}
.macbook-pro-1 .test-urls {
  letter-spacing: 0px;
  min-height: 28px;
}
.macbook-pro-1 .text- {
  letter-spacing: 0px;
  margin-left: 148px;
  min-height: 16px;
}
.macbook-pro-1 .title {
  letter-spacing: 0px;
  min-height: 19px;
  min-width: 34px;
}
.macbook-pro-1 .ukrainian {
  letter-spacing: 0px;
  margin-left: 134px;
  min-height: 16px;
}
.macbook-pro-1 .union {
  height: 16px;
  width: 15px;
}
.macbook-pro-1 .user-list {
  letter-spacing: 0px;
  margin-left: 33px;
  min-height: 19px;
}
.macbook-pro-1 .vector {
  height: 8px;
  left: 55px;
  position: absolute;
  top: 12px;
  width: 13px;
}
.macbook-pro-1 .vector-1 {
  height: 10px;
  margin-left: 4px;
  width: 10px;
}
.macbook-pro-1 .vector-2 {
  height: 8px;
  margin-top: 2px;
  width: 18px;
}
.macbook-pro-1 .vector-3 {
  height: 9px;
  margin-left: 5px;
  width: 14px;
}
.macbook-pro-1 .vector-4 {
  height: 8px;
  margin-left: 27px;
  width: 14px;
}
.macbook-pro-1 .view {
  align-items: flex-start;
  display: flex;
  height: 16px;
  margin-top: 10px;
  min-width: 262px;
}
.macbook-pro-1 .view-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  min-height: 94px;
  width: 260px;
}
.macbook-pro-1 .view-2 {
  align-items: flex-start;
  display: flex;
  height: 16px;
  min-width: 262px;
}
.mist-gray-border-1px {
  border: 1px solid var(--mist-gray);
}
.roboto-medium-mine-shaft-16px {
  color: var(--mine-shaft);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.roboto-medium-mine-shaft-24px {
  color: var(--mine-shaft);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.roboto-medium-suva-gray-16px {
  color: var(--suva-gray);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.roboto-medium-white-14px {
  color: white;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.roboto-normal-black-16px {
  color: black;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-mine-shaft-14px {
  color: var(--mine-shaft);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-mine-shaft-16px {
  color: var(--mine-shaft);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-suva-gray-14px {
  color: var(--suva-gray);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-suva-gray-16px {
  color: var(--suva-gray);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-white-14px {
  color: white;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --black-haze: rgba(246, 246, 246, 1);
  --mine-shaft: rgba(51, 51, 51, 1);
  --mist-gray: rgba(196, 196, 196, 1);
  --portage: rgba(126, 149, 255, 1);
  --suva-gray: rgba(136, 136, 136, 1);
}
