<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1" metadata-complete="false">
    <display-name>Library</display-name>
    <!-- Session Configuration -->
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>



    <!--============================================================
    i18n support
=============================================================-->
    <!-- this way we set the resource bundle name -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>global</param-value>
    </context-param>

    <!-- this way we set the default locale (optional) -->
    <!-- the (preferable) browser's locale will be used if we don't set the default locale -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
        <param-value>ua</param-value>
    </context-param>

    <!-- supported locales -->
    <context-param>
        <param-name>locales</param-name>
        <param-value>ua en</param-value>
    </context-param>

    <filter>
        <filter-name>CommandAccessFilter</filter-name>
        <filter-class>com.library.name.web.filter.CommandAccessFilter</filter-class>
        <init-param>
            <param-name>admin</param-name>
            <param-value>editBook addBook editUser usersList addImage</param-value>
        </init-param>
        <init-param>
            <param-name>librarian</param-name>
            <param-value>addBook librarianMenu usersList userAbonement</param-value>
        </init-param>
        <init-param>
            <param-name>client</param-name>
            <param-value>listOrders addReview orderBook</param-value>
        </init-param>
        <init-param>
            <param-name>common</param-name>
            <param-value>logout noCommand viewSettings updateSettings</param-value>
        </init-param>
        <init-param>
            <param-name>out-of-control</param-name>
            <param-value>login catalog changeLocale registration</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CommandAccessFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.library.name.web.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>

    <!--&lt;!&ndash; Set UTF-8 before request.getParameter() is called &ndash;&gt;
    <filter>
        <filter-name>UTF8Filter</filter-name>
        <filter-class>com.library.name.web.filter.UTF8Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UTF8Filter</filter-name>
        <url-pattern>/*</url-pattern>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>-->

    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.library.name.web.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <!--============================================================
      Context listener
   =============================================================-->
    <listener>
        <listener-class>com.library.name.web.listener.ContextListener</listener-class>
    </listener>

    <context-param>
        <param-name>DataSource</param-name>
        <param-value>jdbc/mysql</param-value>
    </context-param>

    <resource-env-ref>
        <description>Provide access for DataSource</description>
        <resource-env-ref-name>jdbc/mysql</resource-env-ref-name>
        <resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
    </resource-env-ref>
</web-app>